
.blogs {
    grid-area: blogs;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    overflow: auto;
    height: 745px;
    max-height: 80vh;
    width: 100%;
}

.blog {
    box-sizing: border-box;
    width: 60%;
    background-color: rgb(242, 200, 207);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    overflow-y: hidden;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
    color:inherit;
    text-decoration: none;
}
.blog:hover{
    color:inherit;
}

.blog:last-of-type {
    margin-bottom: 2rem;
}

.blog-header {
    font-size: 0.9rem;
    text-align: center;
    height: 10%;
}

.blog-body {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-title {
    display: flex;
    align-self: center;
    width: 100%;
}

.companyInfo {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 1rem;
}

.username,
.company {
    margin: 0;
}

.blog-post {
    padding: 0 0.5rem 0 0.5rem;
    margin-top: 10px;
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.see-posts-btn {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    position: absolute;
    bottom: 5px;
    border-radius: 3px;
    z-index: 5;
}

@media screen and (max-width: 680px){
    .blogs {
        margin-top: 0;
        max-height: 60vh;
    }
}
@media screen and (max-width: 480px) {
    .blogs {
        margin-top: 0;
        max-height: 58vh;
    }

    .blog-title {
        margin-top: 1rem;
        flex-direction: column;
    }

    .blog-title img {
        width: 100px;
        margin: auto;
    }

    .companyInfo .username {
        margin: auto;
    }

    .blog:last-of-type {
        margin-bottom: 0;
    }    
}